<!DOCTYPE html>
<html class="no-js">
//
<head>
    <meta charset="utf-8">
    <title>403 - Forbidden</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ZTNA_KARE Team">
    <link rel="stylesheet" href="static/css/particles-404.css" />
    <link rel="stylesheet" href="static/css/font-awesome.min.css" />
</head>

<body>
    <div class="container">
        <div class="overlay" id="particles-js"></div>
        <div class="content">
            <h1 style="font-size: 300px; font-weight: bolder; text-align: center;color: #f7f7f7">403</h1>
            <div class="message">
                <p class="message-heading">Page Not Found</p>
                <p class="message-description">The page you are trying to access has restricted access. Please refer to your system administrator.</p>
            </div>
            <div class="links">
                <a href="/"></a>
            </div>
        </div>

    </div>
    <script src="/static/js/particles.js"></script>
    <script>
        "use strict"
        particlesJS.load('particles-js', '/static/js/particles.json', function() {
        });
    </script>
</body>

</html>