<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title>404 - Particles</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ZTNA_KARE Team">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/joashp/404-pages/master/css/particles-404.css" />
</head>

<body>
    <div class="container">
        <div class="overlay" id="particles-js"></div>
        <div class="content">
            <div class="message">
                <p class="message-heading">404 Page Not Found</p>
                <p class="message-description">The page you are looking for was moved, removed, renamed or might never existed.</p>
            </div>
            <div class="links">
                <a href="http://linkedin.com/in/kvhkc"></a>
                <a href="mailto:kvhkc2332@gmail.com"></a>
            </div>
        </div>
        <div class="social">
            <ul class="social-list">
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
    </div>
    <script>
        "use strict"
        particlesJS.load('particles-js', 'https://raw.githubusercontent.com/joashp/404-pages/master/js/particles-404.json', function() {
        });
    </script>
    <script src="https://raw.githubusercontent.com/joashp/404-pages/master/js/common/particles.js"></script>
</body>

</html>